@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
    ViewData["Action"] = "Create";
    ViewData["button"] = "Submit";
    ViewData["color"] = "primary";
}



    <div class="row justify-content-center align-items-center">
        <div class=" col-11  m-1">
            <h1 class=" p-2 text-primary mt-3 mb-4">Add new employee</h1>

            <partial name="PartialViews/CreateUpdateEmployee_PartialView"></partial>


        </div>
 </div>


 @section Validation {
<partial name="_ValidationScriptsPartial"></partial>
 }
