@model int 
<td>
    <a type="button" asp-action="Details" asp-route-id="@Model" class="btn btn-success">
        <i class="fa-solid fa-circle-info me-1"></i> Details
    </a>
</td>
<td>
    <a type="button" asp-action="Update" asp-route-id="@Model" class="btn btn-warning">
        <i class="fa-solid fa-pen-to-square me-1"></i> Update
    </a>
</td>


    