
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div>

    <p> we send a reset password link to your email </p><br /><br />
    <p> <a href="https://mail.google.com/mail/u/0/#inbox"> Check your inbox :) </a> </p>
</div>
