@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="ResetPassword">
	<div asp-validation-summary="ModelOnly"></div>
	
	<input class="text mg-b-3" asp-for="NewPassword" placeholder="Password" required="">

	<input class="text w3lpass mg-b-3" asp-for="ConfirmPassword" type="password" placeholder=" Confirm Password" required="">
	
	<input type="submit" value="Change password">

</form>
         
                
                      