

@model IdentityRole
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Action"] = "Update";
    ViewData["button"] = "Save";
    ViewData["color"] = "warning";
}

<div class="row justify-content-center align-items-center ">

    <div class="row col-lg-9  m-1 justify-content-center align-items-center">
        <h1 class="col-9 p-2 text-warning mt-2 mb-4">Update Role</h1>

        <partial name="PartialViews/CreateUpdateRole_PartialView"> </partial>

        


    </div>
</div>