@model IdentityRole

<form asp-action="@ViewData["Action"]" enctype="multipart/form-data">
    <div class="row justify-content-center align-items-center ">

        <div class=" row col-9 border border-1 p-3 border-@ViewData["color"]  mb-2 border-opacity-10 rounded-3 justify-content-center align-items-center">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="row">
                <div class="form-group col-lg-12 mb-3">
                    <label asp-for="Name" class="mt-1 mb-1"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


            </div>
        </div>
    </div>
    <div class="row col-lg-9 ms-lg-2 justify-content-center align-items-center  ">
        @if (ViewData["Action"] as string == "Update")
        {
            <div class="w-75  p-2  d-block  ">
                <a class="btn btn-primary  btn-group-lg   p-2 w-50 mt-1 " asp-action="UserInRole" asp-route-RoleId="@Model.Id">Add or remove users</a>
            </div>

        }
        <div class="w-75  ps-2   ">
            <button class="btn btn-@ViewData["color"] btn-group-lg   p-2 w-25 mt-1 " type="submit">@ViewData["button"]</button>
            <a class="btn btn-secondary  btn-group-lg   p-2 w-25 mt-1 " asp-action="Index" >Cancel</a>

        </div>
    </div>
</form>